.centernewspaper {
  width: 900px; 
  text-align: 
  left; margin: 
  0px auto;
}
.newspaper {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  color: #111111;
}
.newspaper::first-letter {
  font-size: 200%;
  color: #000000;
  //font-style: italic;
}
.bookpage {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: hidden;
  column-rule-width: 1px;
  color: #000000;
  padding: 40px;
}
.bookpagedark {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: hidden;
  column-rule-width: 1px;
  color: #fffffff;
  padding: 40px;
}
.bookpage::first-line {
  font-size: 200%;
  color: #000000;
  //font-style: italic;
}
.bookpagedark::first-line {
  font-size: 200%;
  color: #ffffff;
  //font-style: italic;
}
.ovpage {
  background-color: #fefefe;
  border-radius: 8px;
  width:80%;
  box-shadow: 0 0 2px black;
  max-width:65%;
  height: auto;
}
.ovpagedark {
  background-color: #444444;
  border-radius: 8px;
  width:80%;
  box-shadow: 0 0 2px black;
  max-width:65%;
  height: auto;
}
